body {
  font-family: "Roboto", sans-serif;
  color: rgb(10%, 10%, 10%);
  background: darken(white, 50%);
  margin: 50px;
}

#create-bar {
  margin-bottom: 20px;

  input {
    font-size: 1.5em;
    border-radius: .25em;
  }
}

#create-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
}

// Source for scroll box/font: http://www.quackit.com/html/codes/html_scroll_box.cfm
.note {
  resize: both;
  display: flex-inline;
  justify-content: space-between;
  min-width: 150px;
  min-height: 150px;
  max-width: 250px;
  max-height: 300px;
  background-color: #FFFFCC;
  position: absolute;
  box-sizing: border-box;
  overflow: auto;
  border:2px solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  word-wrap: break-word;
  width: 100p;

  #header {
    display: flex;
    justify-content: space-between;
  }
}

#title {
  color: black;
  font-size: 25px;
}
